Name : Anuj Karoddeo

Course : Data Science masters 2.0

Assignment no. 2

Q1. How do you comment code in Python? What are the different types of comments?

Ans : There are two ways:

       Single line comment by is using '#' and multiline comment by using '''-'''.

In [18]:
# This is a single line comment.
'''
this
is the
multiline
comment
'''

'\nthis \nis the \nmultiline \ncomment\n'

Q2. What are variables in Python? How do you declare and assign values to variables?

ans : Variables in Python are containers for storing data values that can be altered throughout the programming life cycle

In [19]:
# creating variable age and assigning value 30
age = 30

#creating variable Name and assigning value 'Master'
name = 'master'

#creating variable pie_value and assigning value 3.14
pie_value = 3.14

Q3. How do you convert one data type to another in Python?

In [20]:
x = '30'
y = int(x)
z = bool(y)
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'bool'>

Q4. How do you write and execute a Python script from the command line?

ans : Writing Python code in a text editor, save it with a .py extension.
Open a terminal, navigate to the script's directory, and run it with python scriptname.py.

In [21]:
name = str(input('What is your good name : '))
print("Hii!, Have a good day ",name,"!")

What is your good name : Harry
Hii!, Have a good day  Harry !

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [25]:
my_list =[1,2,3,4,5]
print(my_list)

sub_list = my_list[1:3]
print(sub_list)

[1, 2, 3, 4, 5]
[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [29]:
# complex numbers are the numbers which are in the form of 'n+i' where n is any number and i is imaginary.
com = 5+23j #using j we can represent complex number.
print(com)
print(type(com))

(5+23j)
<class 'complex'>

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [30]:
age = 25
print(age)

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [31]:
price = 9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [32]:
name = "Anuj Jayant Karoddeo"
print(name)

Anuj Jayant Karoddeo

Q10. Given the string "Hello, World!", extract the substring "World".

In [34]:
a = "Hello,World!"
a[6:11]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [36]:
is_student = True
type(is_student)

bool